# Python
__pycache__/
*.py[codz]
*$py.class
.Python
venv/
.venv/
.env
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# TLS keys, PEM, NSS
*.pem
*.key
*.crt
*.csr
*.p12
*.der
**/nssdb/
**/*.nssdb.*

# Editor / tooling
.idea/
.cursorignore
.cursorindexingignore

# Scenarios
scenarios/

src/wrappers/gnutls/gnutls_session_hook.so

.cursorrules
/.vscode
milestones.md